.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    font-weight: 650;
    margin: 0 auto;
    width: 500px !important;
    height: 400px !important;
  }
  .tagcloud--item:hover {
    color: #36454F;
  }